* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  }

.container {
  width:80%;
  margin:auto;
}

.navigation-section {
  display:flex;
  justify-content:space-between;
  padding:20px 5px;

}

.logo img{
  width:80%;
}

.right-section{
  display:flex;
  align-items:center;
}

.right-section ul {
  display:flex;
}

.assistance-section{
  display:flex;
  padding-left:20px;
}

.right-section ul li {
  margin-right:20px;
  list-style:none;
}
                 
.right-section ul li a {
    text-decoration:none;
    color:rgb(12, 12, 12);
  }

.assistance .nav-image{
  margin-right:10px;

}

.assistance p{
  margin-left:5px;
}

.navigation{
  border-right:2px solid gray;
  }

  /*hero section styling*/

.hero-section{
  min-height:100vh;
}

.hero-content{
  display:flex;
  padding:10px;
  }

.hero-content .text-section {
 width:45%;
  }

.hero-content .image-section{
  width:55%;
}

.orange-btn{
  background-color:darkorange;
  padding:10px 40px;
  text-decoration:none;
  border-radius:7px;
  color:#fff;
  }


.text-section h1 {
  font-size:64px;
  font-family:verdana sans-serif;
  padding-bottom:30px;
  margin-top:50px;
}

.Below-text-section {
  display:flex;
  margin-top:10px;
}

.clock{
  margin-right:5px;
}

.Below-text-section img {
  width:100%;
  margin-top:10px;
}

.gray {
  color:grey;
}

.Below-text-section p {
  width:95%;
  font-size:14px;
  font-weight:bold;
  padding-top: 5px;
}

.image-section{
  background:url("../image/hero_image.png");
  background-size:cover;
  background-position:center;
  min-height:90vh;
}

.image-section .quick-service{
  display:flex;
  justify-content:space-between;
}

.quick-service{
  margin-top:100px;
  margin-right:50px;
  background-color:#ffffff;
  border-radius:45px;
  width:40%;
  padding:20px;
  box-shadow:8px 6px 6px #d9d9d9,
             -8px 6px 8px #ffffff;
}

.quick-service #hour {
  width:20%;
  background-color:seagreen;
  height:50px;
  border-radius:50%;
  padding:5px;
}

.quick-service #quick{
  width:80%;
}

#hour p{
  color:#fff;
  text-align:center;
  font-size:14px;
  margin-top:10px;
}

#quick h3{
  margin-left:15px;
  font-size:20px;
  margin-top:8px;
}

.rating{
  display:flex;
  margin-top:350px;
  margin-left:350px;
  background-color:#ffffff;
  border-radius:45px;
  padding:20px;
  box-shadow:8px 6px 6px #d9d9d9,
             -8px 6px 8px #ffffff;
  width:40%;

}

.rating #rate{
  width:30%;
}

#star{
  display:flex;
  justify-content:space-between;
}

#star >div{
  width:19%;
}
.rating #star{
  width:70%;
}

.fa-solid{
  color:yellow;
  width:100%;
}

div .fa-solid{
  margin-top:10px;
}

/*quote section styling */

.quote-section, .offer-section{
  padding:35px;
  background-color:gray;
  margin-top:30PX;
}

.quote-section{
  min-height:100vh;
}

.quote-content{
  display:flex;
  justify-content:space-between;
}

.quote-content .list-content, .quote-content .form-section{
  width:45%;
}

.quote-section li, .process-section li {
  list-style:none;
  margin-bottom:10px;
}

.list-section{
  display:flex;
}

.list-content h2, .form-section h2{
  margin-bottom:10px;
}

.list-content h2 {
  font-size:50px;
  font-weight:400;
}

.list-section .list-img{
  width:12%;
}

.list-section .list-writing{
  width:70%;
}

.list-writing h4{
  font-size:25px;
}

.list-writing p{
  margin-top:10px;
  font-size:20px;
}

.form-section h2 {
  font-size:38px;
  font-weight:400;
}

.list-img{
  margin-right:10px;
}


#navigate {
  margin-left:70px;
}

#navigate a{
  text-decoration:none;
  color:black;
  font-size:16px;
}
.arrow {
  margin-left:5px;
  text-align:center;
}


.form-section input[type="text"]{
  width:100%;
  padding:10px;
  margin-bottom:5px;
}


.form-section form {
  margin-bottom:20px;
}


/*process section styling*/
.process{
  padding:45px;
  min-height:100vh;
}

.process-content h2, .process-content p{
  margin-bottom:20px;
}

.process-content h2{
  font-size:58px;
  font-weight:700;
}

.process-content p{
  font-size:28px;
}
.process-content{
  margin-top:60px;
}

.process-section {
  display:flex;
  justify-content:space-between;
}

.process-section .process-content{
  width:45%;

}

.process-section img{
  width:100%;
  margin-bottom:10px;
}

.process-section .list-content{
  width:45%;
}

.paragraph{
  font-size:20px;
  margin-top:10px;
}

#line{
  width:2px;
}

.list-img{
  text-align:center;
}

.process-section .list-writing h4{
  margin-top:15px;
}
/*offer section styling*/
.image-container{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-top:30px;
}

.offer-section{
  min-height:100vh;
}

.image-container .offer-img {
  width:24%;
  margin-bottom:10px;
  background-color:#fff;
  }

.offer-img h5{
  font-size:12px;
  margin-top:10px;
  text-align:center;
  font-family:verdana sans-serif;
}

#selected {
  background-color:darkorange;
}

.offer-img:hover{
  background-color:orange;
}

.flex-image{
  display:flex;
  justify-content:center;
  margin-top:20px;
}

.flex-image img{
  width:20%;
}

.text{
  text-align:center;
  margin-bottom:20px;
  margin-top:25px;
}

.text h5{
  font-size:20px;
  font-weight:300;
}

.text h2{
  font-size:40;
  font-weight:600;
}

.offer-link{
  display:flex;
  justify-content:flex-end;
}

.offer-link a{
  font-size:14px;
  text-decoration:none;
  color:black;
}

/*metrics section styling*/

.contact-box h3{
  color:#fff;
  font-size:30px;
  font-family:verdana sans-serif;
  text-align:center;
  padding:40px 20px 20px 20px;
}

.contact-box a{
  text-decoration:none;
  color:#fff;
  background-color:black;
  padding:10px 30px;
  margin-top:20px;
  margin-left:105px;
}

.metrics{
  display:flex;
  justify-content:space-between;
  background-color:gray;
  padding:20px;
  width:80%;
  margin:auto;
}

.metrics-container{
  display:flex;
  min-height:60vh;
}

.metrics-container .car-section{
  background-image:url("../image/car.jpg");
  background-position:left;
  background-size:cover;
  width:20%;
  min-height:60vh;
}

.metrics-container .other-car-section{
  background:url("../image/repair.jpg");
  background-position:right;
  background-size:cover;
  width:40%;
  min-height:60vh;
}

.metrics-container .contact-box{
  background-color:orange;
  width:40%;
  min-height:60vh;
}

.metrics >div {
  width:20%;
}

.metrics h3 {
  color:rebeccapurple;
  font-size:30px;
}

.metrics-gray{
  background-color:gray;
  margin-bottom:30px;
}

/*brand section styling*/

.brand-image{
  display:flex;
  flex-wrap:wrap;
}

.brand-image >div{
  width:20%;
}

.brand-section .text{
  margin-top:20px;
  padding-top:20px;
}

.brand-section{
  padding:20px;
  margin-top:20px;
  min-height:60vh;
}

.brand-image img {
  width:80%;
}

.text h4{
  font-size:20px;
  font-weight:bold;
}

/*feedback section styling*/
.feedback {
  background-color:lightgray;
  padding:20px;
  min-height:70vh;
}

.feedback h2{
  font-size:48px;
  font-weight:300px;
  margin-top:30px;
  text-align:center;
}

.feedback-box{
  display:flex;
  justify-content:space-between;
  margin-top:30px;
}

.response{
  width:48%;
  background-color:#fff;
  padding:20px;
}

.identity{
  display:flex;
  justify-content:space-between;
}

.identity .identity_img{
  width:10%;
}

.identity .identity_img img{
  width:100%;
}

.identity .identity_text{
  width:85%;
}

.identity .identity_text h5{
  font-size:18px;
}

.identity .identity_text p{
  font-size:12px;
  color:dimgrey;
}

.response p{
  font-size:16px;
  font-weight:100px;
}

.under-feedback{
  display: flex;
  justify-content:space-between;
}

.line-box{
  display:flex;
  justify-content:space-between;
  width: 15%;
  margin-top: 10px;
  margin-left:430px;
}

.line-box .lines {
  width:24%;
}

.line-box .lines img{
  width: 100%;
}

#orange{
  color:orange;
}


.arrow-box{
  display:flex;
  justify-content:space-between;
  width:10%;
  margin-top: 10px;
}

.arrow-box .arrows{
  width:45%;
}

.arrow-box .arrows img{
  width:100%;
  border-radius:50%;
  text-align:center;
}

#black{
  background-color:#fff;
  padding:15px;
}

#white{
  background-color:black;
  padding:10px;
}

/*question section styling*/

.question-section{
  background-color:gray;
  padding:30px;
  min-height: 100vh;
}

.question-container{
  width:60%;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

.questions{
  margin-bottom:8px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.question-section h2{
  font-size:48px ;
  font-weight: 300px;
  text-align: center;
  margin-top: 30px;
}

.questions h5{
  font-size: 20px;
  font-weight:100px;
}

.questions p{
  font-size:18px;
  color:gray;
  padding-top: 15px;
}

.questions .question-text{
  width: 75%;
}

.questions .sign{
  width:5%;
  background-color:orange;
  height:2%;
}

.questions .sign p{
  font-size: 14px;
  color: #fff;
  margin-bottom:5px;
  text-align:center;
}

/*contact section styling*/

.contact-section{
  background-color:black;
  padding:30px;
  min-height:60vh;
}

.contact{
  display: flex;
  justify-content:space-between;
}

.contact .socials, .contact .address{
  width: 45%;
  margin-top:80px;
}

.socials .social-logo{
  display:flex;
  justify-content:space-between;
  width:40%;
}

.socials .social-logo >div {
  width:24%;
}

.fa-brands{
  color: #fff;
  width: 100%;
}

.socials h3{
  font-size:30px;
  color: #fff;
  font-weight:100px;
  margin: 30px 0px;
}

.address p{
  margin-bottom:20px;
  margin-top:8px;
  font-size:20px;
  color: #fff;
}

.address h5{
  font-size:16px;
  color: #fff;
}




/*services page styling
  hero-service-section styling*/

.hero-service-section{
  padding:30px;
  min-height:80vh;
}

.hero-service{
  display:flex;
  margin-top:30px;
}

.hero-service .service-image-section{
  background: url("../image/car-repair.png");
  background-size:cover;
  background-position:left;
  width:40%;
  min-height:70vh;
}

.hero-service .service-text-section{
  width:60%;
  background-color: black;
  padding:30px;
}

.hero-service .service-text-section h1{
  color: #fff;
  font-size:58px;
  margin-bottom:10px;
  padding-top: 50px;
}

.hero-service .service-text-section p{
  color: #fff;
  font-size:20px;
  margin-bottom:40px;
}

/*diagnostics section styling*/
.diagnostics-section{
  background-color: gray;
  padding: 30px;
  min-height:100vh;
}

.diagostics-container{
  width:90%;
  margin: auto;
}

.diagnostics-content{
  display:flex;
  justify-content:space-between;
  margin-top:50px;
}

.diagnostics-content .auto-diagnostics{
  width: 49%;
  background-color:#fff;
  min-height:80vh;
}

.diagnostics-content .other-services{
  width: 49%;
}

.auto-diagnostics .diagnostics-image{
  width: 90%;
  margin: auto;
  min-height:40vh;
}

.auto-diagnostics .diagnostics-image img{
  width:100%;
  padding-top:10px;
}

.auto-diagnostics .diagnostics-text{
  width:90%;
  margin: auto;
  min-height:60vh;
}

.auto-diagnostics .diagnostics-text h2{
  font-size:42px;
  padding-top:10px;
  margin-bottom:20px;
}

.auto-diagnostics .diagnostics-text p{
  font-size: 20px;
  margin-bottom: 20px;
}

.navigation-box{
  display:flex;
  width:50%;
}

.navigation-box .diagnostics-navigation{
  width:48%;
  
}

.diagnostics-navigation a{
  text-decoration:none;
  color:black;
  font-weight:bold;
}

.navigation-box .navigation-arrow{
  width:10%;
  margin-left:10px
}

.other-services{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.other-services .services-box{
  width:49%;
  margin-bottom:5px;
  background-color: #fff;
}

.other-services .services-box:hover{
  background-color:orange;
  color: #fff;
}

.other-services .services-box .service-image{
  width:20%;
  margin: auto;
  margin-top: 60px;
}

.other-services .services-box .service-image img{
  width: 100%;

}

.other-services .services-box h5{
  font-size:18px;
  text-align:center;
  margin-top:10px;
}

/*service-process styling*/
.service-process-section{
  min-height:80vh;
  padding: 30px;
}

.service-process{
  display:flex;
  justify-content:space-between;
  margin-top: 30px;
}

.service-process .service-process-list{
  width:49%;
}

.service-process-list ul{
  list-style:none;
}

.service-process-list ul li{
  margin-top: 30px;
}

.service-process .service-process-image-one{
  width:24%;
  background:url("../image/car1.png");
  background-size:cover;
  background-position: center;
  min-height: 70vh;
}

.service-process .service-process-image-two{
  width: 24%;
  background:url("../image/car-service.png");
  background-size:cover;
  background-position: center;
  min-height: 70vh 
}

.service-process-list h2{
  font-size: 42px;
}

/*car-problems section styling*/
.problem-section{
  min-height:100vh;
  padding: 50px;
}

.problem-content{
  display: flex;
  justify-content:space-between;
}

.problem-content .problem-image-one{
  width:24%;
  min-height:50vh;
  background: url("../image/tyre.png");
  background-size:cover;
  background-position:center;
}

.problem-content .problem-image-two{
  width: 24%;
  background: url("../image/carhood.png");
  background-size: cover;
  background-position:center;
}

.problem-content .problem-text{
  width:49%;
}

.problem-content .problem-text h2{
  font-size:42px;
  margin-bottom:30px;
}

.problem-content .problem-text p{
  font-size:18px;
  margin-bottom:30px;
}

/*footer syling*/
.footer{
  background-color: black;
}
.footer .right-section .navigation{
   border-right:hidden;
}

.footer .logo img{
  width:60%;
  color: #fff;
}

.footer .navigation ul li a{
  color:#fff;
  font-size:12px;
}


/* tablet view responsiveness*/

@media (max-width:769px){
  .container{
    width:90%
  }

  .rating{
    margin-left: 200px;
    width:45%
  }

  .quick-service{
    width:45%
  }

  .text-section h1{
    font-size: 54px;
  }

  .list-content h2{
    font-size: 40px;
  }

  .list-writing h4{
    font-size: 20px;
  }

  .list-writing p{
    font-size: 18px;
  }

  #navigate{
    margin-left: 42px;
  }

  .form-section h2{
    font-size: 30px;
  }

  .process-content h2{
    font-size: 48px;
  }

  .process-content p{
    font-size: 24px;
  }

  .process-section .list-writing h4{
    font-size: 18px;
    margin-top: 10px;
  }

  .process-section .list-writing p{
    font-size: 16px;
  }

  .offer-section .text h2{
    font-size: 30px;
  }

  .contact-box h3{
    font-size: 20px;
  }

  .metrics h3{
    font-size: 25px;
  }

  .feedback h2{
    font-size: 40px;
  }

  .line-box{
    margin-left: 280px;
  }

  .question-section h2{
    font-size: 40px;
  }

  .questions h5{
    font-size: 18px;
  }

  .questions padding {
    font-size: 16px;
  }
} 



/*mobile device responsiveness*/
@media (max-width: 426px) {

    .logo img{
      width: 20%;
    }

    body{
      overflow-x: hidden;
    }

    .navigation-section{
      flex-direction: column;
    }

    .right-section{
      flex-direction: column;
      display: none;
    }

    .navigation{
      border-right: hidden;
      width: 100%;
    }

    .right-section ul{
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 20px;
    }

    .right-section ul li{
      margin-right: 0px;
      margin-bottom: 10px;
    }

    .assistance-section{
      justify-content:flex-start;
      padding-left: 0px;
      width: 100%;
    }
    .hero-content{
      flex-direction:column-reverse;
    }

    .hero-content .text-section, .hero-content .image-section{
      width: 100%;
    }

    .hero-content .image-section{
      margin-top: 20px;
    }

    .rating{
      margin-left: 150px;
      width:45%
    }

    .text-section h1{
      font-size: 42px;
    }

    .quote-content{
      flex-direction:column;
    }

    .quote-content .list-content{
      width: 100%;
    }

    .quote-content .form-section{
      width: 100%;
    }

    .quote-content .list-content h2{
      font-size: 35px;
      text-align: center;
    }

    .list-img img{
      width: 100%;
    }

    .list-writing h4{
      font-size: 16px;
    }

    .list-writing p{
      font-size: 14px;
    }

    #navigate{
      margin-left: 20px;
    }

    #navigate a{
      font-size: 14px;
    }

    .quote-content .form-section h2{
      font-size: 25px;
    }

    .process-section{
      flex-direction:column;
    }

    .process-section .process-content{
      width: 100%;
    }

    .process-content h2{
      font-size: 35px;
    }

    .process-content p{
      margin-bottom: 20px;
    }

    .process-section .list-content{
      width: 100%;
      margin-top:30px;
    }

    .process-section .list-writing h4{
      margin-top:5px
    }

    .list-section .list-img{
      width:10%
    }

    .process-section .list-writing{
      margin-top: 0px;
    }

    .image-container{
      flex-direction: column;
    }

    .image-container .offer-img{
      width:70%;
      margin:auto;
      margin-bottom: 10px;
    }

    .offer-img h5{
      font-size: 14px;
    }

    .offer-link{
      width:80%
    }

    .offer-link a{
      font-size: 10px;
    }

    .arrow{
      width:10%
    }

    .arrow img{
      width: 100%;
    }

    .metrics-container{
      flex-direction: column;
    }

    .metrics-container .car-section{
      width:100%;
      background-position: center;
    }

    .metrics-container .contact-box{
      width:100%;
      background-position: center;
    }

    .metrics-container .other-car-section{
      width:100%
    }

    .metrics h3{
      font-size: 20px;
    }

    .metrics p{
      font-size: 12px;
    }

    .contact-box a{
      margin-left: 130px;
      font-size: 12px;
      padding: 10px 20px;
    }

    .contact-box h3{
      font-size: 20px;
    }

    .text h4{
      font-size: 30px;
    }

    .brand-image{
      flex-direction: column;
    }

    .brand-image >div{
      display: flex;
      justify-content:center;
      width:100%;
      margin-bottom:5px
    }

    .brand-image img{
      width:40%
    }

    .feedback h2{
      font-size: 30px;
    }

    .feedback-box{
      flex-direction: column;
    }

    .response{
      width:100%;
      margin-bottom:10px
    }

    .response p{
      font-size: 14px;
      margin-top: 8px;
    }

    .line-box{
      margin-left: 120px;
    }

    .arrow-box{
      margin-right: 30px;
    }

    #white{
      margin-right: 30px;
    }

    #black{
      margin-left: 10px;
    }

    .question-section h2{
      font-size: 35px;
    }

    .questions h5{
      font-size: 16px;
    }

    .questions p{
      font-size: 12px;
    }

    .questions .sign{
      width:10%
    }

    .text h2{
      font-size: 20px;
    }

    .text h5{
      font-size:16px;
    }

    .socials h3{
      font-size: 25px;
    }

    .socials .social-logo{
      width:60%
    }

    .adress p{
      font-size: 16px;
    }

    .footer .navigation-section{
      flex-direction: row;
    }

    .footer .logo{
      width:25%
    }

    .footer .logo img{
      width:80%
    }

    .footer .right-section{
      display: flex;
      width:70%
    }

    .footer .right-section ul{
      flex-direction: row;
      padding-top: 0px;
    }

    .footer .right-section ul li{
      margin-right: 20px;
    }

}

  